---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import BookTodaySection from '@components/sections/BookTodaySection.astro';

const seo = {
  title: 'Preise | Böllenhäuschen',
  description:
    'Böllenhäuschen - Ihre gemütliche Ferienwohnung in Hollenstedt. Entspannen Sie im Leinetal und erleben Sie erholsame Tage fernab vom Alltagsstress.',
};
---

<Layout {seo}>
  <TextSection>
    <h1>Preise</h1>
    <p>
      Die Preise für das Böllenhäuschen sind abhängig von der Anzahl der
      Übernachtungsgäste und der Dauer Ihres Aufenthalts.
      <br />
      Hier finden Sie eine Übersicht über die Preise pro Nacht und die einmaligen
      Kosten für Ihren Aufenthalt:
    </p>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th scope="col">Pro Nacht</th>
            <th scope="col">Preis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1-2 Personen</td>
            <th scope="row">75 €</th>
          </tr>
          <tr>
            <td>Weitere Person</td>
            <th scope="row">&nbsp;&nbsp;&nbsp;5 €</th>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <tr>
            <th scope="col">Einmalig</th>
            <th scope="col">Preis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Endreinigung</td>
            <th scope="row">55 €</th>
          </tr>
          <tr>
            <td>Hund</td>
            <th scope="row">12 €</th>
          </tr>
        </tbody>
      </table>
    </div>
  </TextSection>

  <BookTodaySection />
</Layout>

<style lang="scss">
  tbody {
    th {
      margin-left: 2.5rem;
    }
  }

  tr {
    display: flex;
    justify-content: space-between;
  }

  .table-wrapper {
    display: grid;
    justify-content: start;
    gap: 2rem;
  }
</style>
