---
import { Container, TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import ImageLink from '@components/image/ImageLink.astro';
import BookTodaySection from '@components/sections/BookTodaySection.astro';

const images = await Astro.glob('../../../public/assets/images/raw/*').then(
  (files) => {
    return files.map((file) => file.default);
  },
);

const seo = {
  title: 'Infos | Böllenhäuschen',
  description:
    'Böllenhäuschen - Ihre gemütliche Ferienwohnung in Hollenstedt. Entspannen Sie im Leinetal und erleben Sie erholsame Tage fernab vom Alltagsstress.',
};
---

<Layout {seo}>
  <TextSection>
    <h1>Infos</h1>
    <p>
      Das Ferienhaus liegt in einer ruhigen Lage direkt am Bach und ohne
      Durchfahrtsstraße. <br /> Es sind zwei Schlafzimmer mit einen Doppelbett und
      zwei Einzelbetten sowie ein Kinderzimmer mit einem Einzelbett und das Badezimmer
      im Obergeschoss. <br /> Im Erdgeschoss ist das Wohnzimmer mit Kaminofen, Esszimmer
      und Küche. <br /> Draußen ist ein großer Garten mit Freisitz, Kinderschaukel,
      Lagerfeuerstelle und Grill. <br />In die Bierstadt Einbeck sind es mit dem
      Auto nur 10 min, nach Northeim auch und bis zur Autobahn A7 nur 5 min.
      <br /> Hunde sind herzlich willkommen.
    </p>
    <p>Die Adresse ist Northeim Ortsteil Hollenstedt.</p>
    <p>Die aktuellen Preise finden Sie hier: <a href="/preise">Preise</a></p>
  </TextSection>

  <TextSection>
    <h2>Bilder</h2>
    <Container>
      <!-- TODO: popover API testen -->
      <div class="image-grid">
        {
          images.map((image) => (
            <ImageLink image={image} alt="Böllenhäuschen" />
          ))
        }
      </div>
    </Container>
  </TextSection>

  <TextSection>
    <h2>Hollenstedt</h2>
    <p>
      Hollenstedt liegt im Leinetal links der Leine in unmittelbarer Nähe zur
      Northeimer Seenplatte kurz unterhalb der Mündung des Flusses Rhume in die
      Leine.
      <br />Die Landesstraße L 572 verbindet Hollenstedt über ein unter
      Denkmalschutz stehendes Brückenbauwerk mit dem Stadtzentrum Northeims.
      <br />Direkt beim Ort mündet der Bach „Bölle“ in die Leine.
      <br />
    </p>
    <p>
      Rund 100 Meter nördlich des Dorfes, unmittelbar an der L 572, befindet
      sich die Aussichtsplattform Geschiebesperre, von der man die unter
      Naturschutz stehende Leineniederung Salzderhelden mit ihren Wasservögeln
      beobachten kann.
    </p>
  </TextSection>

  <BookTodaySection />
</Layout>

<style lang="scss">
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
