---
import { Button, Container, TextCardSection } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import BookTodaySection from '@components/sections/BookTodaySection.astro';

const seo = {
  title: 'Seite nicht gefunden | Böllenhäuschen',
  description: '404 - Seite konnte nicht gefunden werden.',
};
---

<Layout {seo}>
  <Container>
    <TextCardSection>
      <h1>404</h1>
      <h2>Seite nicht gefunden 👀</h2>
      <div class="cta-buttons__container">
        <Button href="/">Zurück zur Startseite</Button>
      </div>
    </TextCardSection>
    <BookTodaySection />
  </Container>
</Layout>

<style>
  .cta-buttons__container {
    display: flex;
    flex-wrap: wrap;
  }
  .cta-buttons__container :global(a) {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .code-buttons__container {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
  }
  .code-buttons__container > a {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
</style>
