---
import { Icon } from 'astro-icon/components';
import { Button, CustomerQuoteSection } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import BookTodaySection from '@components/sections/BookTodaySection.astro';

const seo = {
  title: 'Böllenhäuschen | Ferienwohnung in Hollenstedt',
  description:
    'Böllenhäuschen - Ihre gemütliche Ferienwohnung in Hollenstedt. Entspannen Sie im Leinetal und erleben Sie erholsame Tage fernab vom Alltagsstress.',
};
---

<Layout {seo}>
  <TextAndImageHero reversed>
    <div slot="text-container">
      <h1>Böllenhäuschen</h1>
      <p>
        Genießen Sie Ihren Urlaub im Böllenhäuschen, unserer gemütlichen
        Ferienwohnung in Hollenstedt. <br />Entspannen Sie im Leinetal und
        erleben Sie erholsame Tage fernab vom Alltagsstress.
      </p>
    </div>
    <div slot="btns-container">
      <Button href="/preise" customIcon
        >Zu den Preisen <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right" />
        </Fragment></Button
      >
    </div>
    <picture slot="image-container">
      <img
        src="/assets/images/ebay/2.jpeg"
        alt="Foto vom Ferienhaus Böllenhäuschen"
      />
    </picture>
  </TextAndImageHero>

  <CustomerQuoteSection
    quoteText="Wir hatten das Glück, ein paar Tage im bezaubernden Böllenhäuschen in Hollenstedt zu verbringen, und es war eine Erfahrung, die wir nicht so schnell vergessen werden."
    customerName="Michael & Sarah"
  />

  <BookTodaySection />
</Layout>

<style lang="scss">
  h1 {
    word-break: unset;
    word-wrap: unset;
    overflow-wrap: unset;
  }

  @media (max-width: 600px) {
    h1 {
      word-break: break-word; /* Allow breaking within words */
      word-wrap: break-word; /* Allow wrapping within words */
      overflow-wrap: break-word; /* Ensures compatibility with all browsers */
    }
  }
</style>
